@charset "UTF-8";
/* @theme theme_E */
@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=M+PLUS+Rounded+1c:wght@400;500;700;800&display=swap");
h1 {
  font-size: 1.6em;
  padding: 0.4em 1em;
  color: white;
  background-color: #094;
  border-radius: 0.8rem;
  box-shadow: 5px 5px 0 #00662d;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1.05em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.8rem;
}
h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  font-weight: inherit;
  color: #094;
}
h1::part(auto-scaling),
h2::part(auto-scaling),
h3::part(auto-scaling),
h4::part(auto-scaling),
h5::part(auto-scaling),
h6::part(auto-scaling) {
  max-height: 600px;
}

p {
  text-align: justify;
}

p, ul, ol, table, img {
  margin: 0 0 0.8rem;
}

table {
  overflow: visible;
}

ul > li {
  position: relative;
  list-style: none;
}
ul > li:before {
  content: "";
  position: absolute;
  top: 0.18em;
  left: -30px;
  transform: rotate(50deg);
  width: 0.3em;
  height: 0.8em;
  border-right: 5px solid #094;
  border-bottom: 5px solid #094;
}

blockquote {
  border-left: 5px solid #cccccc;
  margin-left: 0;
  padding-left: 1em;
}
blockquote > p {
  margin-bottom: 0.2em;
}

pre {
  padding: 1em;
  border-radius: 0.5em;
}

p code {
  padding: 0.2em 0.4em;
  border-radius: 0.4em;
}

pre,
p code {
  background-color: #001a0b;
  color: #fff;
}

.code_white pre,
.code_white p code {
  background-color: #f2f2f2;
  color: #404040;
}

.code_black pre,
.code_black p code {
  background-color: #001a0b;
  color: #fff;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

section {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  font-size: 20px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #404040;
  background-color: white;
  width: 960px;
  height: 720px;
  padding: 60px 40px 60px;
}
section[data-color] h1,
section[data-color] h2,
section[data-color] h3,
section[data-color] h4,
section[data-color] h5,
section[data-color] h6 {
  color: currentcolor;
}
section.fs20 {
  font-size: 20px;
}
section.fs24 {
  font-size: 24px;
}
section.fs32 {
  font-size: 32px;
}
section.invert {
  background-color: #333333;
  color: #e6e6e6;
}
section.section_title {
  justify-content: center;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23daf6e6' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}
section.section_title h1 {
  padding: initial;
  color: #094;
  background: initial;
  border-radius: initial;
  box-shadow: initial;
  margin-left: 20px;
}
section.section_title h1 > span {
  display: inline-block;
  background-color: #094;
  box-shadow: 5px 5px 0 #00662d;
  color: #fff;
  font-size: 1.6em;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  vertical-align: middle;
  margin-right: 30px;
}
section.section_title > *:not(h1, footer) {
  margin-left: 200px;
}
section.cover {
  position: relative;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23daf6e6' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}
section.cover:before {
  content: "";
  position: absolute;
  top: 150px;
  left: 40px;
  width: 880px;
  height: 300px;
  background-color: #094;
  border-radius: 0.8em;
  box-shadow: 5px 5px 0 #00662d;
}
section.cover :where(h1, h2, h3):first-of-type {
  color: #fff;
  position: absolute;
  left: 70px;
}
section.cover h1:first-of-type {
  padding: initial;
  background: initial;
  border-radius: initial;
  box-shadow: initial;
  top: 180px;
  font-size: 3em;
  font-weight: 500;
}
section.cover h2:first-of-type {
  top: 280px;
  font-size: 1.8em;
  color: #fff;
}
section.cover h3:first-of-type {
  top: 340px;
  font-size: 1.6em;
  color: #fff;
}
section.cover p:first-of-type {
  position: absolute;
  top: 480px;
  right: 50px;
  font-size: 1.5em;
  text-align: right;
}
section.mokuji h2 {
  font-size: 1.6em;
}
section.mokuji li {
  position: relative;
  display: block;
  list-style: none;
  font-size: 1.3em;
  border-bottom: 1px solid #808080;
  margin-bottom: 0.4em;
}
section.mokuji li a {
  text-decoration: none;
}
section.mokuji li:before {
  display: none;
}
section.mokuji li .no {
  position: absolute;
  right: 0.5em;
  display: inline-block;
  width: 3em;
  text-align: right;
}

header,
footer {
  margin: 0;
  position: absolute;
  color: #999999;
  font-size: 16px;
  line-height: 1;
}

header {
  top: 28px;
  right: 40px;
}

footer {
  bottom: 28px;
  left: 40px;
}

footer > .fcenter {
  width: 880px;
  position: fixed;
  left: 40px;
  text-align: center;
  color: #999999;
  font-size: 16px;
  line-height: 1;
}

section::after {
  padding: 0;
  bottom: 28px;
  right: 40px;
  color: #999999;
  font-size: 16px;
  line-height: 1;
}

.katex {
  margin: 0 0.2em;
}

.no_right_space .katex {
  margin-right: 0;
}

.katex-display > .katex {
  margin: 0;
}

.katex-display > .katex > .katex-html {
  position: initial;
}

[data-marp-fitting-svg-content] {
  width: 99%;
}

mjx-container {
  font-size: 0.75em;
}

mjx-container:not([display=true]) {
  margin: 0 0.2em;
}

/* 分数の上が欠ける対策 */
p > svg[data-marp-fitting-math] {
  overflow: visible;
}

p > svg > foreignObject {
  overflow: visible;
}

.card {
  padding: 0.5em 1.5em;
  margin-bottom: 0.8rem;
  background-color: #f2f2f2;
  border-radius: 0.8rem;
  box-shadow: 5px 5px 0 #d9d9d9;
}
.card > *:last-child {
  margin-bottom: 0;
}
.card.no_bottom {
  border-bottom: none;
  padding-bottom: 0;
}
.card.no_top {
  border-top: none;
  padding-top: 0;
}
.card.title {
  margin-top: 2em;
  position: relative;
  border-top-left-radius: 0;
  z-index: 0;
}
.card.title > p:first-child {
  display: flex;
  align-items: center;
  height: 2em;
  padding: 0 1em;
  border-radius: 0.8rem 0.8rem 0 0;
  background-color: #094;
  color: #fff;
  position: absolute;
  left: 0;
  top: -2em;
}
.card.title > p:first-child:after {
  content: "";
  height: calc(2em - 5px);
  width: 1em;
  background-color: #00662d;
  position: absolute;
  top: 5px;
  right: -5px;
  border-radius: 0 0.8rem 0 0;
  z-index: -1;
}

.h_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h_center > table {
  width: -moz-max-content;
  width: max-content;
}

.v_center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.split {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 0.8rem;
}

.split_l {
  padding-right: 20px;
  box-sizing: border-box;
  width: 50%;
}

.split_r {
  padding-left: 20px;
  box-sizing: border-box;
  width: 50%;
}

:is(.split_l, .split_r) > * {
  margin-bottom: 0;
}

.memo {
  margin: 0;
  width: 880px;
  padding-top: 0.2rem;
  border-top: 0.3rem dotted #094;
  font-size: 0.8em;
  position: absolute;
  bottom: 60px;
}

.tips1, .tips3 {
  background-color: #094;
  color: white;
  font-size: 1em;
  font-weight: 700;
  padding: 0.1em 0.4em;
  border-radius: 0.4em;
  margin-right: 0.5em;
}

.tips2 {
  color: #094;
  border: 0.1em solid;
  font-size: 1em;
  font-weight: 700;
  padding: 0.1em 0.4em;
  border-radius: 0.4em;
  margin-right: 0.5em;
}

.tips3 {
  box-shadow: 3px 3px 0 #00662d;
}/*# sourceMappingURL=theme_E.css.map */