@charset "UTF-8";
h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1.05em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.8rem;
}
h1::part(auto-scaling),
h2::part(auto-scaling),
h3::part(auto-scaling),
h4::part(auto-scaling),
h5::part(auto-scaling),
h6::part(auto-scaling) {
  max-height: 600px;
}

p {
  text-align: justify;
}

p, ul, ol, table, img {
  margin: 0 0 0.8rem;
}

table {
  overflow: visible;
}

blockquote {
  border-left: 5px solid #cccccc;
  margin-left: 0;
  padding-left: 1em;
}
blockquote > p {
  margin-bottom: 0.2em;
}

pre {
  padding: 1em;
  border-radius: 0.5em;
}

p code {
  padding: 0.2em 0.4em;
  border-radius: 0.4em;
}

pre,
p code {
  background-color: #404040;
  color: #fff;
}

.code_white pre,
.code_white p code {
  background-color: #f2f2f2;
  color: #404040;
}

.code_black pre,
.code_black p code {
  background-color: #404040;
  color: #fff;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

section {
  align-items: stretch;
  display: flex;
  flex-flow: column nowrap;
  font-size: 20px;
  width: 960px;
  height: 720px;
  padding: 60px 40px 60px;
}
section[data-color] h1,
section[data-color] h2,
section[data-color] h3,
section[data-color] h4,
section[data-color] h5,
section[data-color] h6 {
  color: currentcolor;
}
section.fs20 {
  font-size: 20px;
}
section.fs24 {
  font-size: 24px;
}
section.fs28 {
  font-size: 28px;
}
section.fs32 {
  font-size: 32px;
}
section.invert {
  background-color: #333333;
  color: #e6e6e6;
}
section.mokuji h2 {
  font-size: 1.6em;
}
section.mokuji li {
  position: relative;
  display: block;
  list-style: none;
  font-size: 1.3em;
  border-bottom: 1px solid #808080;
  margin-bottom: 0.4em;
}
section.mokuji li::before {
  display: none;
}
section.mokuji a {
  text-decoration: none;
}
section.mokuji:before {
  display: none;
}
section.mokuji .no {
  position: absolute;
  right: 0.5em;
  display: inline-block;
  width: 3em;
  text-align: right;
}

header,
footer {
  margin: 0;
  position: absolute;
  font-size: 16px;
  line-height: 1;
}

header {
  top: 28px;
  right: 40px;
}

footer {
  bottom: 28px;
  left: 40px;
}

footer > .fcenter {
  width: 880px;
  position: fixed;
  left: 40px;
  text-align: center;
  font-size: 16px;
  line-height: 1;
}

section::after {
  padding: 0;
  bottom: 28px;
  right: 40px;
  font-size: 16px;
  line-height: 1;
}

.katex {
  margin: 0 0.2em;
}

.no_right_space .katex {
  margin-right: 0;
}

.katex-display > .katex {
  margin: 0;
}

.katex-display > .katex > .katex-html {
  position: initial;
}

[data-marp-fitting-svg-content] {
  width: 99%;
}

mjx-container {
  font-size: 0.75em;
}

mjx-container:not([display=true]) {
  margin: 0 0.2em;
}

/* 分数の上が欠ける対策 */
p > svg[data-marp-fitting-math] {
  overflow: visible;
}

p > svg > foreignObject {
  overflow: visible;
}

.card {
  padding: 0.5em 1.5em;
  margin-bottom: 0.8rem;
}
.card > *:last-child {
  margin-bottom: 0;
}

.h_center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h_center > table {
  width: -moz-max-content;
  width: max-content;
}

.v_center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.split {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 0.8rem;
}

.split_l {
  padding-right: 20px;
  box-sizing: border-box;
  width: 50%;
}

.split_r {
  padding-left: 20px;
  box-sizing: border-box;
  width: 50%;
}

:is(.split_l, .split_r) > * {
  margin-bottom: 0;
}

.memo {
  margin: 0;
  width: 880px;
  padding-top: 0.2rem;
  font-size: 0.8em;
  position: absolute;
  bottom: 60px;
}

.list_bib > ol {
  counter-reset: list;
}
.list_bib > ol > li {
  list-style: none;
  counter-increment: list;
}
.list_bib > ol > li::marker {
  content: "[" counter(list, decimal) "] ";
  font-weight: normal;
}

/* @theme theme_A */
h1 {
  font-size: 1.6em;
  color: #3eb370;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
  font-weight: inherit;
  color: #3eb370;
}

ul > li {
  position: relative;
  list-style: none;
}
ul > li:before {
  content: "";
  position: absolute;
  top: 0.55em;
  left: -1em;
  width: 0.5em;
  height: 0.5em;
  background-color: #3eb370;
}

ol {
  counter-reset: item;
}

ol > li {
  position: relative;
}
ol > li::marker {
  position: absolute;
  left: -1.2em;
  font-weight: bold;
  color: #3eb370;
}

section {
  font-family: "Segoe UI", "メイリオ", sans-serif;
  color: #404040;
  background-color: white;
}
section.section_title {
  justify-content: center;
  background-color: #ffffff;
}
section.section_title h1 {
  padding: initial;
  color: #3eb370;
  background: initial;
  border: none;
  border-radius: initial;
  box-shadow: initial;
  color: #404040;
  font-size: 2rem;
  border-bottom: 1px #3eb370 solid;
  padding-left: 3rem;
}
section.section_title h1 > span {
  color: #3eb370;
  vertical-align: baseline;
  margin-right: 1.2em;
}
section.section_title > *:not(h1, footer) {
  padding-left: 3rem;
}
section.cover {
  position: relative;
  background-color: #3eb370;
  justify-content: center;
  padding: 60px;
  font-size: 24px;
  font-weight: bold;
}
section.cover h1, section.cover h2, section.cover h3, section.cover p {
  color: #fff;
}
section.cover h1 {
  background-color: initial;
  box-shadow: none;
  padding: initial;
}
section.cover p {
  position: fixed;
  left: 60px;
  bottom: 30px;
}

header,
footer,
footer > .fcenter,
section::after {
  color: #999999;
}

.card {
  background-color: #d6e9ca;
  padding: 1em 1.5em;
}
.card.bg_gray {
  background-color: #f2f2f2;
}
.card.border, .card.border_dashed, .card.border_dotted {
  background-color: transparent;
  box-shadow: none;
}
.card.border {
  border: 0.16em solid #3eb370;
  border-radius: 0.2em;
}
.card.border_dashed {
  border: 0.2em dashed #3eb370;
}
.card.border_dotted {
  border: 0.24em dotted #3eb370;
}
.card.title > p:first-child {
  color: #2a7a4c;
}

.memo {
  border-top: 0.2rem dashed #3eb370;
}

.tips1 {
  background-color: #3eb370;
  color: white;
  font-size: 1em;
  font-weight: 700;
  padding: 0.1em 0.4em;
  border-radius: 0.4em;
  margin-right: 0.5em;
}

.tips2 {
  color: #3eb370;
  border: 0.1em solid;
  font-size: 1em;
  font-weight: 700;
  padding: 0.1em 0.4em;
  border-radius: 0.4em;
  margin-right: 0.5em;
}/*# sourceMappingURL=theme_A.css.map */