/* @theme theme_U */
$section-width: 960px;
$section-height: 720px;
$section-padding-lr: 40px;
$section-padding-top: 40px;
$section-padding-bottom: 60px;
$item-margin: 0.8rem;
$main-text-size: 20px;
$header-footer-font-size: 24px;
$header-footer-margin: 16px;
$main-text-color: lighten(#000, 25%);
$main-highlight-color: #89c3eb;
$main-bg-color: white;
// $main-font-family: 'M PLUS 1p', sans-serif;
// $main-font-family: 'Noto Sans JP', sans-serif;
$main-font-family: "メイリオ", sans-serif;
// $main-strong-font-family: 'M PLUS 1p', sans-serif;
// $main-strong-font-family: 'Noto Sans JP', sans-serif;
$main-strong-font-family: "メイリオ", sans-serif;
$header-footer-color: lighten(#000, 60%);
$footer-center-content: "内田研究室 論文紹介";

// web fonts
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=M+PLUS+Rounded+1c:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap');

h1 {
    // font-size: 1.6em;
    font-size: 50px;
    padding-left: 0.5em;
    padding-bottom: 0;
    border-bottom: 0.32em solid $main-highlight-color;
    position: relative;
    margin-bottom: 20px;
}

h1::after{
    position: absolute;
    display: block;
    content: "";
    right: 0;
    top: 0;
    height: 100%;
    width: 40%;
    border-bottom: 0.32em solid #dcdcdc;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.1em;
}

h4 {
    font-size: 1.05em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.9em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 $item-margin;

    strong {
        font-weight: inherit;
        color: $main-highlight-color;
    }

    &::part(auto-scaling) {
        max-height: $section-height - ($section-padding-top + $section-padding-bottom); // Slide height - padding * 2
    }
}

p{
    text-align: justify;
}

p, ul, ol, table, img{
    margin: 0 0 $item-margin;
}

table {
    overflow: visible;
}

ul, ol {
    padding-left: 1.6em;
}

ul>li {
    position: relative;
    list-style: none;

    &:before {
        content: "";
        background-color: $main-highlight-color;
        width: 0.8em;
        height: 0.8em;
        border-radius: 50%;
        position: absolute;
        top: 0.28em;
        left: -1.2em;
    }

    &>ul>li {
        &:before {
            width: 0.6em;
            height: 0.6em;
            top: 0.38em;
            left: -1.1em;
            border-radius: 0;
        }
    }
}

ol {
    counter-reset: item;
}

ol>li {
    position: relative;

    &::marker {
        position: absolute;
        left: -1.2em;
        // font-size: 1.2em;
        font-weight: bold;
        color: darken($main-highlight-color, 10%);
    }
}

blockquote {
    margin: 0;
    width: $section-width - $section-padding-lr * 2;
    padding-top: 0.2rem;
    border-top: 0.2rem dashed $main-highlight-color;
    font-size: 0.8em;
    position: absolute;
    bottom: $section-padding-bottom;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}


section {
    align-items: stretch;
    display: flex;
    flex-flow: column nowrap;

    font-size: $main-text-size;
    font-family: $main-font-family;
    color: $main-text-color;
    background-color: $main-bg-color;

    width: $section-width;
    height: $section-height;
    padding: $section-padding-top $section-padding-lr $section-padding-bottom;

    >*:last-child,
    &[data-footer]> :nth-last-child(2) {
        margin-bottom: 0;
    }

    >*:first-child,
    >header:first-child+* {
        margin-top: 0;
    }

    &[data-color] {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: currentcolor;
        }
    }

    &.fs20 {
        font-size: 20px;
    }

    &.fs24 {
        font-size: 24px;
    }

    &.fs28 {
        font-size: 28px;
    }

    &.fs32 {
        font-size: 32px;
    }

    &.fs36 {
        font-size: 36px;
    }

    &.invert {
        background-color: lighten(#000, 20%);
        color: darken(#fff, 10%);
    }

    // &.section_title {
    //     justify-content: center;
    //     background-color: #ffffff;
    //     background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23daf6e6' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");

    //     h1 {
    //         padding: initial;
    //         color: $main-highlight-color;
    //         background: initial;
    //         border-radius: initial;
    //         box-shadow: initial;
    //         margin-left: 20px;

    //         >span {
    //             display: inline-block;
    //             background-color: $main-highlight-color;
    //             box-shadow: 5px 5px 0 darken($main-highlight-color, 10%);
    //             color: #fff;
    //             font-size: 1.6em;
    //             width: 150px;
    //             height: 150px;
    //             border-radius: 50%;
    //             text-align: center;
    //             line-height: 150px;
    //             vertical-align: middle;
    //             margin-right: 30px;
    //         }
    //     }

    //     >*:not(h1, footer) {
    //         margin-left: 200px;
    //     }
    // }

    &.cover {
        position: relative;
        background-color: #fff;
        background-image: url(./images/ulab_blue.svg),
            repeating-linear-gradient(150deg, transparent, transparent 19px, lighten(#000, 95%) 20px, lighten(#000, 95%) 39px, transparent 40px);
        background-repeat: no-repeat, no-repeat;
        background-size: 30%, auto;
        background-position: 90% 85%, center;
        justify-content: center;

        // &:before {
        //     content: "";
        //     position: absolute;
        //     top: 150px;
        //     left: 40px;
        //     width: $section-width - 80;
        //     height: 300px;
        //     background-color: $main-highlight-color;
        //     border-radius: 0.8em;
        //     box-shadow: 5px 5px 0 darken($main-highlight-color, 10%);
        // }

        // :where(h1, h2, h3):first-of-type {
        //     position: absolute;
        //     left: 70px;
        // }

        h1 {
            border-bottom: 0.16em solid $main-highlight-color;
            padding-left: 0;
            text-align: center;
        }

        h1::after {
            display: none;
        }

        // h2:first-of-type {
        //     top: 280px;
        //     font-size: 1.8em;
        //     color: #fff;
        // }

        // h3:first-of-type {
        //     top: 340px;
        //     font-size: 1.6em;
        //     color: #fff;
        // }

        // p:first-of-type {
        //     position: absolute;
        //     top: 480px;
        //     right: 50px;
        //     font-size: 1.5em;
        //     text-align: right;
        // }
    }

    // &.mokuji {
    //     h2 {
    //         font-size: 1.6em;
    //     }

    //     li {
    //         position: relative;
    //         display: block;
    //         list-style: none;
    //         font-size: 1.3em;
    //         border-bottom: 1px solid #808080;
    //         margin-bottom: 0.4em;

    //         a {
    //             text-decoration: none;
    //         }

    //         &:before{
    //             display: none;
    //         }

    //         .no{
    //             position: absolute;
    //             right: 0.5em;
    //             display: inline-block;
    //             width: 3em;
    //             text-align: right;
    //         }
    //     }
    // }
}

// header and footer
@mixin header-footer-style {
    color: $header-footer-color;
    font-size: $header-footer-font-size;
    line-height: 1;
}

header,
footer {
    margin: 0;
    position: absolute;
    @include header-footer-style;
}

header {
    top: $section-padding-top - $header-footer-font-size - $header-footer-margin;
    right: $section-padding-lr;
}

footer {
    bottom: $section-padding-bottom - $header-footer-font-size - $header-footer-margin;
    left: $section-padding-lr;

    >.fcenter {
        width: $section-width - $section-padding-lr * 2;
        position: fixed;
        left: $section-padding-lr;
        // bottom: $section-padding-bottom - $header-footer-font-size - $header-footer-margin;
        text-align: center;
        @include header-footer-style;
    }
}

//paginate
section::after {
    line-height: 1;
    font-size: 40px;
    height: 40px;
    padding: 0;
    position: absolute;
    top: $section-padding-top + 75px - 40px - 16px;
    right: $section-padding-lr + 20px;
    color: $header-footer-color;
}

// katex
.katex {
    margin: 0 0.2em;
}
.no_right_space .katex {
    margin-right: 0;
}
.katex-display>.katex{
    margin: 0;
}
[data-marp-fitting-svg-content] {
    width: 99%;
}

/* 分数の上が欠ける対策 */
p>svg[data-marp-fitting-math] {
    overflow: visible;
}
p>svg>foreignObject {
    overflow: visible;
}

// card
.card {
    padding: 0.5em 1.5em;
    margin-bottom: $item-margin;

    &.bg{
        background-color: lighten(#000, 95%);
        box-shadow: 5px 5px 0 darken(lighten(#000, 95%), 10%);
    }

    >*:last-child {
        margin-bottom: 0;
    }

    &.border{
        border: 0.16em solid $main-highlight-color;
        border-radius: 0.2em;
    }

    &.border_dashed{
        border: 0.2em dashed $main-highlight-color;
    }

    &.border_dotted{
        border: 0.24em dotted $main-highlight-color;
    }

    &.no_bottom {
        border-bottom: none;
        padding-bottom: 0;
    }
    
    &.no_top {
        border-top: none;
        padding-top:0;
    }

    &.title {
        @extend .bg;
        margin-top: 2em;
        position: relative;
        // border-top-left-radius: 0;
        z-index: 0;
    }
    
    &.title>p:first-child {
        display: flex;
        align-items: center;
        height: 2em;
        padding: 0 1em;
        // border-radius: 0.8rem 0.8rem 0 0;
        background-color: $main-highlight-color;
        color: #fff;
        position: absolute;
        left: 0;
        top: -2em;
    }
    
    &.title>p:first-child:after {
        content: "";
        height: calc(2em - 5px);
        width: 1em;
        background-color: darken($main-highlight-color, 10%);
        position: absolute;
        top: 5px;
        right: -5px;
        // border-radius: 0 0.8rem 0 0;
        z-index: -1;
    }
}

// center

.h_center {
    display: flex;
    flex-direction: column;
    align-items: center;

    // >*{
    //     // text-align: center;
    // }

    >table{
        width: max-content;
    }
}

.v_center {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// split
.split {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: $item-margin;
}

.split_l {
    padding-right: $section-padding-lr / 2;
    box-sizing: border-box;
    width: 50%;
}

.split_r {
    padding-left: $section-padding-lr / 2;
    box-sizing: border-box;
    width: 50%;
}

:is(.split_l,.split_r)>* {
    margin-bottom: 0;
}

// tips
.tips1 {
    background-color: $main-highlight-color;
    color: $main-bg-color;
    font-size: 1em;
    font-weight: 700;
    padding: 0.1em 0.4em;
    border-radius: 0.4em;
    margin-right: 0.5em;
}

.tips2 {
    color: $main-highlight-color;
    border: 0.1em solid;
    font-size: 1em;
    font-weight: 700;
    padding: 0.1em 0.4em;
    border-radius: 0.4em;
    margin-right: 0.5em;
}

.tips3 {
    @extend .tips1;
    box-shadow: 3px 3px 0 darken($main-highlight-color, 10%);
}

.tips4 {
    @extend .tips1;
    color: $main-text-color;
    border-radius: 0;
    font-weight: normal;
}


